/* styles.css */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: azure;
    color: #333;
}

h1 {
    text-align: center;
    color: #d9534f;
    margin: 20px 0;
}

h2 {
    margin-top: 30px;
}

img {
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

ul, ol {
    margin: 20px 40px;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

p {
    margin: 20px 40px;
    text-align: justify;
}

* {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
